.flex-container {
  display: block !important;
}

.form-row > label {
  display: block;
  margin-bottom: 0.25rem;
}

.markdownx {
  margin-left: auto;
  margin-right: auto;
}

.markdownx > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2rem * var(--tw-space-y-reverse));
}

.markdownx {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media (min-width: 768px) {
  .markdownx {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
  }

  .markdownx > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0px * var(--tw-space-y-reverse));
  }
}

/*Add style lead to first p of preview*/

.markdownx .markdownx-preview p:first-of-type {
  font-size: 1.2222222em;
  line-height: 1.4545455;
  margin-top: 1.0909091em;
  margin-bottom: 1.0909091em;
}

.markdownx .markdownx-editor,
.markdownx .markdownx-preview {
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  padding: 1rem;
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity, 1));
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.markdownx .markdownx-editor:is(.dark *),
.markdownx .markdownx-preview:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.markdownx .markdownx-preview {
  overflow-y: scroll;
}

.markdownx .markdownx-preview a {
  color: var(--link-fg);
  text-decoration: underline;
}

.markdownx .markdownx-preview a:visited {
  color: var(--link-selected-fg);
}

.markdownx .markdownx-preview a:hover {
  color: var(--link-hover-color);
}

.markdownx .markdownx-preview a:active {
  color: var(--link-selected-fg);
}

.markdownx .markdownx-preview a:focus {
  outline: thin dotted;
}

.markdownx .markdownx-preview a:active,
.markdownx .markdownx-preview a:hover {
  outline: 0;
}

.markdownx .markdownx-preview p {
  margin: 1em 0;
  padding: 0;
  font-size: 14px;
}

.markdownx .markdownx-preview h1,
.markdownx .markdownx-preview h2,
.markdownx .markdownx-preview h3,
.markdownx .markdownx-preview h4,
.markdownx .markdownx-preview h5,
.markdownx .markdownx-preview h6 {
  font-weight: 700;
  color: var(--body-fg);
  margin-top: 1em;
  margin-bottom: 0.75em;
  padding: 0;
  background: 0 0;
}

.markdownx .markdownx-preview h1 {
  margin-bottom: 1rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 800;
  line-height: 1.25;
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity, 1));
}

.markdownx .markdownx-preview h1:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

@media (min-width: 1024px) {
  .markdownx .markdownx-preview h1 {
    margin-bottom: 1.5rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

.markdownx .markdownx-preview h2 {
  font-size: 1.7em;
}

.markdownx .markdownx-preview h3 {
  font-size: 1.4em;
}

.markdownx .markdownx-preview h4 {
  font-size: 1.2em;
}

.markdownx .markdownx-preview h5 {
  font-size: 1em;
}

.markdownx .markdownx-preview h6 {
  font-size: 0.9em;
}

.markdownx .markdownx-preview blockquote {
  color: var(--body-quiet-color);
  margin: 0;
  padding-left: 1.5em;
  font-style: italic;
  border-left: 0.5em solid var(--hairline-color);
}

.markdownx .markdownx-preview hr {
  margin: 20px 0;
}

.markdownx .markdownx-preview code,
.markdownx .markdownx-preview kbd,
.markdownx .markdownx-preview pre,
.markdownx .markdownx-preview samp {
  font-family: monospace, monospace;
  font-size: 14px;
}

.markdownx .markdownx-preview code,
.markdownx .markdownx-preview pre {
  margin: 0 2px;
  padding: 0 5px;
  background-color: var(--hairline-color);
  border-radius: 4px;
  color: var(--body-quiet-color);
}

.markdownx .markdownx-preview pre {
  margin: 1.5em 0 1.5em 0;
  padding: 1em;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.markdownx .markdownx-preview pre code {
  margin: 0;
  padding: 0;
  background: 0 0;
  border: none;
}

.markdownx .markdownx-preview b,
.markdownx .markdownx-preview strong {
  font-weight: 700;
}

.markdownx .markdownx-preview dfn {
  font-style: italic;
}

.markdownx .markdownx-preview ins {
  background: var(--message-success-bg);
  color: var(--body-fg);
  text-decoration: none;
}

.markdownx .markdownx-preview mark {
  background: var(--message-error-bg);
  color: var(--body-fg);
  font-style: italic;
  font-weight: 700;
}

.markdownx .markdownx-preview sub,
.markdownx .markdownx-preview sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.markdownx .markdownx-preview sup {
  top: -0.5em;
}

.markdownx .markdownx-preview sub {
  bottom: -0.25em;
}

.markdownx .markdownx-preview ol,
.markdownx .markdownx-preview ul {
  margin: 0.5em 0;
  padding: 0 0 0 2em !important;
}

.markdownx .markdownx-preview ul,
.markdownx .markdownx-preview ul li,
.markdownx .markdownx-preview ul ul li {
  list-style: disc !important;
}

.markdownx .markdownx-preview li p:last-child {
  margin: 0;
}

.markdownx .markdownx-preview dd {
  margin: 0 0 0 2em;
}

.markdownx .markdownx-preview img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  max-width: 100%;
}

.markdownx .markdownx-preview table {
  border-collapse: collapse;
  border-spacing: 0;
}
